.git
.github
node_modules
vendor
public/build
public/hot
bootstrap/ssr
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
tests
docs
*.md
!README.md
.dockerignore
Dockerfile
docker-compose.yml
